<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nueva Pregunta</title>
    <link rel="stylesheet" href="/newquestion.css">
</head>
<body>
<h1>Nueva Pregunta</h1>
<form th:action="@{/questions/new}" method="POST" th:object="${questionTagObject}">
    <label>Question:
        <textarea cols="30" rows="10" th:field="*{question.question}"></textarea>
    </label>
    <label>
        Tags:
        <input type="text" th:field="*{tag.subject}">
    </label>
    <input type="submit" value="Hacer Pregunta">
</form>
<a href="/">Volver al index</a>
</body>
</html>